html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.movie-card-img {
  width: auto;
  height: 200px;
}

.movie-card-title {
  width: 50%;
}
